<!doctype html>
<html>
<head>
<title>{{title}}</title>


<link rel="stylesheet" href="/stylesheets/style.css"></link>
<link rel="stylesheet" href="/stylesheets/bootstrap.css"></link>
</head>
<body>
{{>header}}
<div class="container">
{{{body}}}
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
 </body>
 </html>